<%= link_to 'User', new_event_path %>
<br>
<br>

<h1>User</h1>

<p>
  <strong>Creator:</strong>
  <%= @creator.username %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @creator.email %>
</p>

<br>
<h1>Events</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_events.each do |event| %>
      <tr>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

