<p id="notice"><%= notice %></p>

<h1>Events</h1>

#<div class="col">
  #  <h2>Past Events</h2>
  #  <%= @past_events %>
 # </div>

 # <div class="col">
   # <h2>Upcoming Events</h2>
   # <%= @upcoming_events %>
 # </div>

#<br>

<%= link_to 'New Event', new_event_path %>
<%= link_to 'User', new_user_url %>
