<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @creator.username %>
</p>

<p>
  <strong>Attendees:</strong>
  <br>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @attendee.each do |attendee| %>
        <tr>
          <td><%= attendee.username %></td>
          <td><%= attendee.email %></td>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<% if same_as_event_creator %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% else %>
  <%= link_to 'Attend', create_invitation_path(event_id: @event.id, user_id: @creator.id) %> |
<% end %> <%= link_to 'Back', root_path %>


